<!DOCTYPE html>
<html>
<head>
  <div id="mySidenav" class="sidenav">
    <a href="/" class="font">HOME</a>
    <a href="/input">INPUT</a>
    <a href="/info">INFO</a>
  </div>
  <div id="main">
    <span style="font-size:30px;cursor:pointer" id="menu">☰ Menu</span>
  </div>

  <br>

  <title>Major Reqs</title>
  <link rel="stylesheet" href="majors.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
</head>

<body>
  <div id = "majorinfo">
    <p> Name: {{ major_name }} </p>
  </div>
</body>
</html>
